{{#scroll-to
  href=(plus '#' (encode-class (plus 'classItem-' classItem.id)))
  scrollable=scrollable
  class="classItemShort-link"
}}

  <span class="classItemShort-meta">
    {{#unless (eq groupBy 'itemType')}}
      {{fugue-icon
        type='itemType'
        value=classItem.itemType
        class="classItemShort-type-icon"
      }}
    {{/unless}}

    <span class="classItemShort-name">
      {{classItem.name}}
    </span>
  </span>

  <span class="classItemShort-icons">

    {{#unless (eq groupBy 'access')}}
      {{fugue-icon
        type='access'
        value=classItem.access
        class="classItemShort-icon _access"
      }}
    {{/unless}}

    {{#unless (eq groupBy 'static')}}
      {{fugue-icon
        type='static'
        value=classItem.static
        class="classItemShort-icon _static"
      }}
    {{/unless}}

    {{#unless (eq groupBy 'deprecated')}}
      {{fugue-icon
        type='deprecated'
        value=classItem.deprecated
        class="classItemShort-icon _deprecated"
      }}
    {{/unless}}

    {{#unless (eq groupBy 'inherited')}}
      {{fugue-icon
        type='inherited'
        value=(if isInherited 'inherited' (if isOverridden 'overridden' false))
        class="classItemShort-icon _inherited"
      }}
    {{/unless}}
  </span>
{{/scroll-to}}