<div class="classItemsFilter-name">
  {{input
    value=filterName
    escape-press=(action 'clearFilterName')
  }}

  <button
    {{action 'clearFilterName'}}
    disabled={{not filterName.length}}
  >x</button>
</div>{{!classItemsFilter-name}}

<div>
  {{#if (get hasMoreThanOne 'access')}}
    <div>
      {{#if hasPublic}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showPublic
            disabled = (not (or (and hasProtected showProtected) (and hasPrivate showPrivate)))
          }}

          <a
            href={{if (or (and hasProtected showProtected) (and hasPrivate showPrivate)) true null}}
            {{action 'enableOnlyPublic'}}
          >Public</a>
        </span>
      {{/if}}


      {{#if hasProtected}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showProtected
            disabled = (not (or (and hasPublic showPublic) (and hasPrivate showPrivate)))
          }}

          <a
            href={{if (or (and hasPublic showPublic) (and hasPrivate showPrivate)) true null}}
            {{action 'enableOnlyProtected'}}
          >Protected</a>
        </span>
      {{/if}}

      {{#if hasPrivate}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showPrivate
            disabled = (not (or (and hasPublic showPublic) (and hasProtected showProtected)))
          }}

          <a
            href={{if (or (and hasPublic showPublic) (and hasProtected showProtected)) true null}}
            {{action 'enableOnlyPrivate'}}
          >Private</a>
        </span>
      {{/if}}
    </div>
  {{/if}}

  {{#if (get hasMoreThanOne 'deprecated')}}
    <div>
      {{#if hasDeprecated}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showDeprecated
            disabled = (not (or (and hasNonDeprecated showNonDeprecated)))
          }}

          <a
            href={{if (or (and hasNonDeprecated showNonDeprecated)) true null}}
            {{action 'enableOnlyDeprecated'}}
          >Deprecated</a>
        </span>
      {{/if}}


      {{#if hasNonDeprecated}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showNonDeprecated
            disabled = (not (or (and hasDeprecated showDeprecated)))
          }}

          <a
            href={{if (or (and hasDeprecated showDeprecated)) true null}}
            {{action 'enableOnlyNonDeprecated'}}
          >Non-Deprecated</a>
        </span>
      {{/if}}
    </div>
  {{/if}}


  {{#if (get hasMoreThanOne 'inherited')}}
    <div>
      {{#if hasInherited}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showInherited
            disabled = (not (or (and hasNonInherited showNonInherited)))
          }}

          <a
            href={{if (or (and hasNonInherited showNonInherited)) true null}}
            {{action 'enableOnlyInherited'}}
          >Inherited</a>
        </span>
      {{/if}}


      {{#if hasNonInherited}}
        <span>
          {{input
            type     = "checkbox"
            checked  = showNonInherited
            disabled = (not (or (and hasInherited showInherited)))
          }}

          <a
            href={{if (or (and hasInherited showInherited)) true null}}
            {{action 'enableOnlyNonInherited'}}
          >Non-Inherited</a>
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>