<div class="layoutDefault-header">

  <div class="layoutDefault-header-section _project">
    <a
      href={{ownerUrl}}
      target="_blank"
    >{{owner}}</a>/<a
      href={{repoUrl}}
      target="_blank"
    >{{repo}}</a>@<a
      href={{versionUrl}}
      target="_blank"
    >{{versionName}}</a>
  </div>{{!layoutDefault-header-section _project}}

  <div class="layoutDefault-header-section _about">
    <a
      href
      {{action 'toggleMenu'}}
      class="layoutDefault-header-section-about-menuToggle"
    >Menu</a>

    <div class="layoutDefault-header-section-about-yuidork">
      Powered by
      {{link-to 'Yuidork' 'index'}}
    </div>{{!layoutDefault-header-section-about-yuidork}}
  </div>{{!layoutDefault-header-section _about}}
</div>{{!layoutDefault-header}}

<div class="layoutDefault-main">
  <div class="layoutDefault-menu">

    <div class="layoutDefault-menu-yuidork">
      Powered by
      {{link-to 'Yuidork' 'index'
        invokeAction=(action 'closeMenu')
      }}
    </div>{{!layoutDefault-header-section-about-yuidork}}

    {{#if versionRecord}}
      {{me-nu
        versionRecord=versionRecord
        closeMenuAction=(action 'closeMenu')
      }}
    {{/if}}

  </div>{{!layoutDefault-content}}

  <div class="layoutDefault-content">
    {{yield}}
  </div>{{!layoutDefault-content}}
</div>{{!layoutDefault-main}}