<div class="meNu-filter">
  {{input
    value=filter
    escape-press=(action 'clearFilter')
  }}

  <button
    {{action 'clearFilter'}}
    disabled={{not filter.length}}
  >x</button>
</div>{{!meNu-filter}}


{{#if versionRecord.modulesSorted.length}}
  <h2>Modules</h2>

  <ul>
    {{#each modulesFiltered as |module|}}
      <li>
        {{link-to module.name 'version.module' module.id
          invokeAction=closeMenuAction
        }}
      </li>
    {{else}}
      Not found
    {{/each}}
  </ul>
{{/if}}

{{#if versionRecord.namespacesSorted.length}}
  <h2>Namespaces</h2>

  <ul>
    {{#each namespacesFiltered as |namespace|}}
      <li>
        {{link-to namespace.name 'version.namespace' namespace.id
          invokeAction=closeMenuAction
        }}
      </li>
    {{else}}
      Not found
    {{/each}}
  </ul>
{{/if}}

{{#if versionRecord.classesSorted.length}}
  <h2>Classes</h2>

  <ul>
    {{#each classesFiltered as |class|}}
      <li>
        {{link-to class.name 'version.class' class.id
          invokeAction=closeMenuAction
        }}
      </li>
    {{else}}
      Not found
    {{/each}}
  </ul>
{{/if}}