
<div class="pageVersionClass-infoWrapper">
  <h1
    class="pageVersionClass-title"
  >{{currentClass.name}}</h1>

  <div class="pageVersionClass-info">
    <div class="pageVersionClass-meta">

      {{#unless (eq currentClass.access 'public')}}
        {{fugue-icon
          type     =  'access'
          value    = currentClass.access
          withText = true
          class    = "pageVersionClass-icon _access"
        }}
      {{/unless}}

      {{#if currentClass.mixin}}
        {{fugue-icon
          type     =  'mixin'
          value    = currentClass.mixin
          withText = true
          class    = "pageVersionClass-icon _mixin"
        }}
      {{/if}}

      {{#if currentClass.deprecated}}
        {{fugue-icon
          type     = 'deprecated'
          value    = currentClass.deprecated
          withText = true
          class    = "pageVersionClass-icon _deprecated"
        }}
      {{/if}}

      <div class="pageVersionClass-definedIn">
        Defined in:

        <a
          href={{currentClass.urlWithLine}}
          target="_blank"
        >
          {{currentClass.file.name}}:{{currentClass.line}}
        </a>
      </div>


      <div class="pageVersionClass-module">
        Module:

        {{link-to currentClass.module.name 'version.module' (serialize currentClass.module.id)}}
      </div>


      {{#if currentClass.extends}}
        <div>
          Extends:

          {{#if currentClass.extends.foreign}}
            {{currentClass.extends.name}}
          {{else}}
            {{link-to currentClass.extends.name 'version.class' (serialize currentClass.extends.id)}}
          {{/if}}
        </div>
      {{/if}}


      {{#if currentClass.uses.length}}
        <div>
          Uses:

          <ul>
            {{#each currentClass.uses as |mixin|}}
              <li>
                {{link-to mixin.name 'version.class' (serialize mixin.id)}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}


      {{#if currentClass.extensionFor.length}}
        <div>
          Extended by:

          <ul>
            {{#each currentClass.extensionFor as |extender|}}
              <li>
                {{link-to extender.name 'version.class' (serialize extender.id)}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>{{!pageVersionClass-meta}}

    {{#if currentClass.description}}
      <div class="pageVersionClass-description">
        {{md-text
          text=currentClass.description
        }}
      </div>
    {{/if}}

  </div>{{!pageVersionClass-info}}

</div>{{!pageVersionClass-infoWrapper}}

{{class-items
  classRecord                 = currentClass
  scrollableItemListHtmlClass = scrollableItemListHtmlClass
  class                       = "pageVersionClass-content"
}}